
.app{
  width: 90%;
  margin: auto;
  
}

.nav {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  /* color: black;
  background-color: red; */
}

.nav-item {
  margin: 0 10px;
 
}

.nav-link {
  color: rgb(196, 66, 66);
}

.test{
  color: black;
}
.testL{
  color: black;
}
/* Media query for small screens */
@media (max-width:728px) {
  .hamburger-menu {
    display: flex;
    
  }

  .nav {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #d83030;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .nav.open {
    display: flex;
    display: none;
  }

  .nav-item {
    margin: 10px 0;
    display: none; 
  }
}
